.person-container{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.person-container img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.person-container h4{
    margin-bottom: 0;
    margin-top: 15px;
}
.person-container p{
    margin-top: 5px;
}
.person-info{
    color: white;
    background-color: #107896;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    width: 220px;
    border-radius: 8px;
    margin-left: 20px;
}
.brake-time{
    background-color: #107896;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 220px;
    padding: 10px;
    margin-left: 20px;
}
.brake-title{
    margin-left: 20px;
    color: white;
}
.brake-time h5{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}